---
name: unittest
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: APT Update
        run: sudo apt-get update -y
      - name: APT Install
        run: sudo apt-get install -y --no-install-recommends libjpeg-dev
      - uses: actions/cache@v3
        with:
          path: ${{ env.pythonLocation }}
          key: ubuntu-22.04-${{ env.pythonLocation }}-${{ matrix.python-version }}-${{ hashFiles('setup.py') }}
      - name: Install remotecv
        run: pip install --upgrade --upgrade-strategy eager -e .[dev]
      - run: docker-compose pull
      - uses: satackey/action-docker-layer-caching@v0.0.11
        continue-on-error: true
      - name: Start Redis
        run: make run-redis
      - name: Run Unit Tests
        run: make unit
      - name: Lint
        run: make lint
      - name: Generate lcov
        run: make coverage
      - name: Coveralls
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: coverage.lcov
          flag-name: run-${{ matrix.python-version }}
          parallel: true
  finish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
